<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header"><h1> Cours </h1></div>
  <div class="card-body">
    <h4 class="card-title">Crypto-name: <%= @crypto_show.name %>  </h4>
    <p class="card-text">Valeur : <%= @crypto_show.value %></p>
  </div>
</div>